@import 'https://use.fontawesome.com/releases/v5.5.0/css/all.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

@import './css/colors.css';
@import './css/nav.css';
@import './css/button.css';
@import './css/link.css';
@import './css/lesson.css';
@import './css/footer.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 997px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
}
