.back-link {
  color: var(--purple);
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-top: 20px;
  text-transform: uppercase;
}

.back-link i {
  margin-right: 8px;
}

menu-open {
  margin: 30px 0;
  display: flex;
}

.fa-angle-down {
  margin-left: 5px;
}

/* ATTENTION */
.link {
  text-decoration: none;
  color: inherit;
}
